Assignment on Data Analysis Using Pandas

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('mlai/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
print(data.shape)

(32561, 15)

In [6]:
data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [8]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

How manymen and women are represented in this dataset?

In [9]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

What is the average age of women?

In [10]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

What is the percentage of German citizens?

In [11]:
float((data['native-country'] == 'Germany').sum()) / data.shape[0]

0.004207487485028101

What are the mean and standard deviation of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [15]:
ages1 = data.loc[data['salary']== '>50K', 'age']
ages2 = data.loc[data['salary']== '<=50K', 'age']
print("The mean and standard deviation of people earning less than 50K per year are {0} and {1} respectively \
and mean and standard deviation of people earning more than 50K per year are {2} and {3} respectively"\
      .format(round(ages2.mean()), round(ages2.std(), 1), round(ages1.mean()), round(ages1.std(), 1)))

The mean and standard deviation of people earning less than 50K per year are 37 and 14.0 respectively and mean and standard deviation of people earning more than 50K per year are 44 and 10.5 respectively

Is it true that people who earns more than 50K have at least high school education?

In [17]:
data[data['salary']>'50K']['education'].unique()
# The answer is NO

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

Display age statistics for each race and each gender. Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [18]:
for(race,sex), x in data.groupby(['race', 'sex']):
    print("Race: {}, Sex: {}".format(race, sex))
    print(x['age'].describe())

Race: Amer-Indian-Eskimo, Sex: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race: Amer-Indian-Eskimo, Sex: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, Sex: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, Sex: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race: Black, Sex: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Black, Sex: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Other, Sex: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race: Other, Sex: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race: White, Sex: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: White, Sex: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

Among whom is the proportion of those who earn a lot (>50K) greater; married or single men? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [19]:
# For Married men
data.loc[(data['sex']== 'Male') & (data['marital-status'].apply(lambda m: m[0]=='M')), 'salary'].value_counts()

<=50K    7576
>50K     5965
Name: salary, dtype: int64

In [20]:
#For Unmarried men
data.loc[(data['sex']=='Male') & (data['marital-status'].apply(lambda u: u[0]!='M')), 'salary'].value_counts()

<=50K    7552
>50K      697
Name: salary, dtype: int64

What is the maximum number of hours a person works per week? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [21]:
max_hours = data['hours-per-week'].max()
print(f"Maximum numbers of hours a person works per week: {max_hours}")
num_workers = data[data['hours-per-week']== max_hours].shape[0]
print(f"Numbers of people working such hours: {num_workers}")
per = float(data[(data['hours-per-week'] == max_hours) & (data['salary'] == '>50K')].shape[0]) / num_workers
print("Percentage of earning a lot is {}%".format(int(100*per)))

Maximum numbers of hours a person works per week: 99
Numbers of people working such hours: 85
Percentage of earning a lot is 29%

Count the average time of work for those who earn a little and a lot (salary) for each country.

In [22]:
import numpy as np
pd.crosstab(data['salary'], data['native-country'], values = data['hours-per-week'], aggfunc = np.mean).T

salary                          <=50K       >50K
native-country
?                           40.164760  45.547945
Cambodia                    41.416667  40.000000
Canada                      37.914634  45.641026
China                       37.381818  38.900000
Columbia                    38.684211  50.000000
Cuba                        37.985714  42.440000
Dominican-Republic          42.338235  47.000000
Ecuador                     38.041667  48.750000
El-Salvador                 36.030928  45.000000
England                     40.483333  44.533333
France                      41.058824  50.750000
Germany                     39.139785  44.977273
Greece                      41.809524  50.625000
Guatemala                   39.360656  36.666667
Haiti                       36.325000  42.750000
Holand-Netherlands          40.000000        NaN
Honduras                    34.333333  60.000000
Hong                        39.142857  45.000000
Hungary                     31.300000  50.000000
India                       38.233333  46.475000
Iran                        41.440000  47.500000
Ireland                     40.947368  48.000000
Italy                       39.625000  45.400000
Jamaica                     38.239437  41.100000
Japan                       41.000000  47.958333
Laos                        40.375000  40.000000
Mexico                      40.003279  46.575758
Nicaragua                   36.093750  37.500000
Outlying-US(Guam-USVI-etc)  41.857143        NaN
Peru                        35.068966  40.000000
Philippines                 38.065693  43.032787
Poland                      38.166667  39.000000
Portugal                    41.939394  41.500000
Puerto-Rico                 38.470588  39.416667
Scotland                    39.444444  46.666667
South                       40.156250  51.437500
Taiwan                      33.774194  46.800000
Thailand                    42.866667  58.333333
Trinadad&Tobago             37.058824  40.000000
United-States               38.799127  45.505369
Vietnam                     37.193548  39.200000
Yugoslavia                  41.600000  49.500000